*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
table {
  border-collapse: collapse;
}
textarea {
  white-space: revert;
}

html {
  background-color: #fff;
}

body {
  font-size: 1.6rem;
}

:root {
  /* TYPOGRAPHY */
  --button: clamp(0.625rem, 0.625rem + 0vw, 0.625rem);
  --base-small: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  --base-big: clamp(0.875rem, 0.7813rem + 0.4688vw, 1.25rem);
  --title-big: clamp(3.75rem, 2.0313rem + 8.5938vw, 10.625rem);

  /* SPACING */

  /* PADDING */
  --padding: clamp(0.5rem, 0.375rem + 0.625vw, 1rem);
}

@font-face {
  font-family: nba;
  src: url(../assets/Fonts/NBAkademieMonoRegular.29a7190.woff2);
}

@font-face {
  font-family: basis;
  src: url(../assets/Fonts/BasisGrotesquePro-Regular.woff2);
}
